.cursor-pointer {
  cursor: pointer;
}

body {
  font-family: $open-sans !important;
}

.cancel-button {
  display: inline-flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: $primary-color;
  border: #dcdcdc;
}

.create-button {
  display: inline-flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  color: #fff;
  border: #6c6c6c;
}

.close-icon {
  width: 30px;
  object-fit: contain;
}

.backgroundStyles {
  background-color: #eee;
  z-index: 9999;
}

.ReactModalPortal {
  > div:first-child {
    background-color: rgba(238, 238, 238, 0.9) !important;
  }
}

.custom-tooltip {
  font-size: 14px;
  padding: 5px;
  border-radius: 4px;
  background-color: #ffffff;

  .tooltip-inner {
    background-color: #cbcbcb;
    color: #000;
  }
}

.top-align {
  text-align: center;
  margin-top: 300px;
}

.home-text {
  color: var(--dark-blue, #339);
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.primary-button {
  width: 120px;
  height: 40px;
  background-color: $secondary-color;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-weight: 600;
}

.secondary-button {
  border-radius: 8px;
  border: 1px solid #06c;
  color: $secondary-color;
  background-color: white;
  font-weight: 600;
  width: 120px;
  height: 40px;
}

.custom-top-margin {
  margin-top: 34px !important;
}