.cursor-pointer {
  cursor: pointer;
}

body {
  font-family: $open-sans !important;
}

.cancel-button {
  display: inline-flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  color: $pure-white;
  background-color: $primary-color;
  border: $pearl-white;
}

.create-button {
  display: inline-flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  color: $pure-white;
  border: $button-border;
}

.close-icon {
  width: 30px;
  object-fit: contain;
}

.backgroundStyles {
  background-color: $light-grey;
  z-index: 9999;
}

.ReactModalPortal {
  > div:first-child {
    background-color: rgba(238, 238, 238, 0.9) !important;
  }
}

.custom-tooltip {
  font-size: 14px;
  padding: 5px;
  border-radius: 4px;
  background-color: $pure-white;

  .tooltip-inner {
    background-color: $shaded-white;
    color: $pure-black;
  }
}

.top-align {
  text-align: center;
  margin-top: 300px;
}

.home-text {
  color: var(--dark-blue, $primary-color);
  text-align: center;
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.primary-button {
  width: 120px;
  height: 40px;
  background-color: $secondary-color;
  color: $pure-white;
  border-radius: 8px;
  border: none;
  font-weight: 600;
}

.secondary-button {
  border-radius: 8px;
  border: 1px solid $secondary-color;
  color: $secondary-color;
  background-color: white;
  font-weight: 600;
  width: 120px;
  height: 40px;
}

.custom-top-margin {
  margin-top: 34px !important;
}

.btn {
  &:hover {
    background-color: $pure-white !important;
    color: $secondary-color !important;
  }
}

input[type='file']::-webkit-file-upload-button {
  display: none;
}

.file-input-transparent {
  color: transparent;
}

#file-input-label {
  position: absolute;
  font-size: 12px;
  left: 15px;
  top: 10px;
  color: #6c6c6c;
}

.disabled-button {
  width: 120px;
  height: 40px;
  background-color: $disabled-button-color;
  color: $pure-white;
  border-radius: 8px;
  border: none;
  font-weight: 600;
}
