.fieldset-container {
  border: 1px solid $border-color-opacity;
  padding: 30px;
  border-radius: 8px;
}

.fieldset-legend {
  all: revert;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $primary-color;
  margin-left: 32px;
}
