.input-style {
  height: 38px;
  width: 365px;
  border: 1px solid $secondary-color;
  border-radius: 8px;
  padding: 15px;
  background-color: $pure-white;
  transition: outline-color;
  outline: none;
  resize: none;
  overflow: hidden;
}

.label {
  position: absolute;
  top: 10px;
  left: 25px;
  pointer-events: none;
  color: $button-border;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  text-align: center;
}

.input-style,
.input-group-textarea,
.label {
  font-size: 12px;
}

.input-style:focus + .label {
  transition: all 0.15s ease-out;
  color: $secondary-color;
}

.input-style:focus + .label .icon-style {
  color: $pure-red;
}

.input-style:focus + .label,
:not(input[value='']) + .label {
  font-size: 12px;
  transform: translate(0, -150%);
  background-color: white;
  padding-left: 4px;
  padding-right: 4px;
  color: $secondary-color;
  margin-top: 8px;
  .icon-style {
    color: $pure-red;
  }
}

.input-group-textarea {
  border: 1px solid $secondary-color;
  border-radius: 8px;
  padding: 15px;
  background-color: $pure-white;
  transition: outline-color;
  outline: none;
  resize: none;
  overflow: hidden;
  height: 60px;
  width: 365px;
}

.input-group-label {
  left: 15px;
  position: absolute;
  translate: 10px 10px;
  color: $button-border;
  font-family: Open Sans;
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  transition:
    translate 500ms,
    scale 500ms;
}

.input-group-textarea:focus + .input-group-label,
.input-group-textarea-valid + .input-group-label,
.input-style:focus + .input-group-label,
.input-style-valid + .input-group-label {
  padding-inline: 5px;
  top: 1px;
  translate: 0px -14px;
  font-size: 14px;
  scale: 0.8;
  background-color: $pure-white;
  color: $secondary-color;
  .icon-style {
    color: $pure-red;
  }
}

.fixed-file {
  padding-inline: 5px;
  top: 1px;
  left: 0;
  position: absolute;
  translate: 0px -14px;
  font-size: 14px;
  scale: 0.8;
  background-color: $pure-white;
  color: $secondary-color;
  .icon-style {
    color: $pure-red;
  }
}
.custom-phone-input {
  .react-tel-input {
    font-family: $open-sans;
    .special-label {
      top: 0px;
      font-size: 14px;
      scale: 0.8;
      translate: 0px -14px;
      color: $secondary-color;
      z-index: 0;

      &:after {
        content: ' *';
        color: $pure-red;
      }
    }
    .form-control {
      height: 38px;
      width: 352px;
      border: 1px solid $secondary-color;
      border-radius: 8px;
      background-color: $pure-white;
      transition: outline-color;
      outline: none;
      resize: none;
      overflow: hidden;
      font-size: 12px;

      &:focus {
        box-shadow: none;
      }
    }
  }
}
