.header {
  height: 70px;
  .header-text {
    color: $primary-color;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    font-family: $open-sans;
    font-style: normal;
  }

  .header-button {
    background-color: $secondary-color;
    padding: 10px 25px;
    font-family: $open-sans;
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    width: 170px;

    &:hover {
      background-color: $secondary-color;
    }
  }

  .header-hr {
    color: $border-color;
    border-bottom: 1px solid;
  }
}
