.patient-header {
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    $header-gradient-violet 0%,
    $header-gradient-blue 100%
  );
  box-shadow: 1px 1px 7px 0px $black-with-opacity;
  .title {
    color: $pearl-white;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .content {
    font-family: $open-sans;
    color: $pure-white;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .edit-style {
    width: 85px;
    height: 36px;
    padding: 4px 16px;
    background-color: $border-color;
    color: $pure-white;
    border-radius: 8px;
    border: 1px solid $pure-white;
  }
}
